<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.undyingideas.thor.skafottet" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoadingScreen"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OldActivities$Play"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".OldActivities$HangmanButtonActivity" >
        </activity>
        <activity
            android:name=".Instructions"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Preferences"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".OldActivities$EndOfGame"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".OldActivities$MainActivity"
            android:parentActivityName=".LoadingScreen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WordPicker"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".OldActivities$MultiplayerActivity" >
        </activity>
        <activity
            android:name=".FragmentMainActivity"
            android:parentActivityName=".LoadingScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity android:name=".MenuActivity" >
        </activity>
    </application>

</manifest>
