<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.undyingideas.thor.skafottet" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LoadingActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.WordDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WordFragmentLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GameActivity"
            android:parentActivityName=".activities.LoadingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activities.MenuActivity" />
        <activity
            android:name=".activities.PlayerListActivity"
            android:label="@string/title_player_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PlayerDetailActivity"
            android:label="@string/title_player_detail"
            android:parentActivityName=".activities.PlayerListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PlayerListActivity" />
        </activity>
    </application>

</manifest>
